body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff3b0;
  font-family: sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 22px;
  display: block;
  padding: 10px 15px;
  margin: 20px 20px;
  position: relative;
  transition: all 0.5s;
  font-family: verdana;
}

/* menu 1 */

.menu1 li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #b100e8;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: left;
}

.menu1 li a:hover:before,
.menu1 li a:hover:after {
  transform: scaleX(1);
}

.menu1 li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #b100e8;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: right;
}

/* menu 2 */

.menu2 li a:hover {
  background-color: #4895ef;
  color: white;
}

.menu2 li a:before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  /* background-color: blue; */
  border: 3px solid #4895ef;
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.5s;
}

.menu2 li a:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  /* background-color: blue; */
  border: 3px solid #4895ef;
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.5s;
}

.menu2 li a:hover:before {
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

.menu2 li a:hover:after {
  top: -8px;
  right: -8px;
  opacity: 1;
}

/* menu 3 */

.menu3 li a span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #fde2e4;
  z-index: -1;
  left: 0;
  top: 0;

  transform: scaleY(0);
  transform-origin: left;
  transition: all 0.5s;
}

.menu3 li a:hover span {
  transform: scaleY(1);
}

.menu3 li a span:nth-child(2) {
  left: 25%;
  background-color: #fad2e1;

  transition-delay: 0.15s;
}
.menu3 li a span:nth-child(3) {
  left: 50%;
  background-color: #e2ece9;

  transition-delay: 0.3s;
}
.menu3 li a span:nth-child(4) {
  left: 75%;
  background-color: #bee1e6;
  transition-delay: 0.45s;
}

/* menu 4 */

.menu4 li a span {
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: #c4fff9;
  z-index: -1;
  left: 0;
  top: 0;

  transform: scaleY(0);
  transform-origin: left;
  transition: all 0.5s;
}

.menu4 li a:hover span {
  transform: scaleY(1);
}

.menu4 li a span:nth-child(2) {
  top: 25%;
  background-color: #9ceaef;

  transition-delay: 0.15s;
}
.menu4 li a span:nth-child(3) {
  top: 50%;
  background-color: #68d8d6;

  transition-delay: 0.3s;
}
.menu4 li a span:nth-child(4) {
  top: 75%;
  background-color: #3dccc7;
  transition-delay: 0.45s;
}

/* menu 5 */

.menu5 li a {
  position: relative;
}

.menu5 li a:before {
  content: "";
  width: 0;
  height: 5px;
  background-color: #00bcd4;
  position: absolute;
  top: 110%;
  left: 0;
  transition: all 0.5s;
}

.menu5 li a:after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #f0f;
  position: absolute;
  top: 110%;
  right: 0;
  transition: all 0.5s;
}

.menu5 li a:hover:before {
  width: 50%;
  transform: translateX(100%);
}

.menu5 li a:hover:after {
  width: 50%;
  transform: translateX(-100%);
}

/* menu 6 */

.menu6 li a {
  transition: all 1s;
}

.menu6 li a:hover {
  background: -webkit-linear-gradient(#eee, #c200fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}

/* menu 7 */

.menu7 li a {
  transition: all 1s;
}

.menu7 li a:hover {
  background-image: url(https://media.giphy.com/media/LriNaxs61RKYMlrZuY/giphy.gif);
  background-size: 100%;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  border-radius: 8px;
}
